	<nav class="navbar navbar-expand-lg navbar-dark bg-gradient text-white" style="background-color: #778899;" th:fragment="nav_fragment">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/?user={user}(user=${user})}">Book Review</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<!-- ホームボタン -->
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/?user={user}(user=${user})}">Home</a></li>
					<!-- 管理者ボタン -->
					<li class="nav-item"><a th:if="${user} == 'admin'" class="nav-link active" aria-current="page" href="?user=user">Admin Mode</a>
					<li class="nav-item"><a th:unless="${user} == 'admin'" class="nav-link active"aria-current="page" href="?user=admin">User Mode</a></li>
				</ul>
			</div>
		</div>
	</nav>