<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment">
</head>

<body>
	<!-- navbar -->
	<nav th:replace="common/navbar :: nav_fragment">
	</nav>

	<h1 align="center" th:text="${book.title}">本のタイトル</h1>
	<p th:if="${complete}" th:text="${complete}" style="color:blue"></p>
	
	<!-- 本の画像表示（一旦ダミー） -->
	<center><img width=300px height=300px th:src="@{/images/default.png}"></center>
	
	<!-- 本の詳細表示（本の情報を表示できなければエラーにしたい） -->
	<div class="container-fluid pt-5">
		<table class="table table-bordered table-responsive">
			<thead>
				<tr class="text-center table-primary">
					<th width="700">概要</th>
					<th width="150">評価</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${book.overview}">概要</td>
					<td th:text="${book.totalevaluation}" align="center">評価</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<br>
	<h2 align="center">この本を読んだ人からのレビュー</h2>
	
	<div class="container-fluid pt-3">
		<table class="table table-bordered table-responsive" th:unless="${#lists.isEmpty(reviewList)}">
			<thead>
				<tr class="text-center table-primary">
					<th width="700">レビュー</th>
					<th width="150">評価</th>
					<th class="table-secondary" width="150" th:if="${user} == 'admin'">操作</th>
				</tr>
			</thead>
			<tbody>	
				<tr th:each="obj : ${reviewList}">
					<td th:text="${obj.content}">レビュー内容</td>
					<td th:text="${obj.evaluation}" align="center">評価</td>
					<!-- RV削除ボタン -->
					<td th:if="${user} == 'admin'" align="center">
						<form method="POST" th:action="@{/book/detail/{bookid}/delete/{reviewid}(bookid=${obj.bookid}, reviewid=${obj.id})}"> <!-- {id}に(id=)を代入 -->
							<input type="hidden" name="_method" value="DELETE"> <!-- DELETEメソッドを隠しフィールドで送る -->
							<button type="submit" class="btn btn-secondary" th:name="user" th:value="${user}">RV削除</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- レビューが取得できなければメッセージを表示 -->
	<p th:if="${#lists.isEmpty(reviewList)}">まだ登録されているレビューはありません</p>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>