<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment">
</head>

<body>
	<!-- navbar -->
	<nav th:replace="common/navbar :: nav_fragment">
	</nav>

	<div class="container-fluid pt-5">
		<h1 align="center" th:text="${book.title}">本のタイトル</h1>
	</div>
	
	<!-- 本の画像表示（一旦ダミー） -->
	<center><img width=300px height=300px th:src="@{/images/default.png}"></center>
	
	<div class="container-fluid pt-5">
		<!-- 編集ボタン -->
		<form class="row" method="GET" th:action="@{/book/{bookid}/edit(bookid=${book.id})}"> <!-- {bookid}に(bookid=)を代入 -->
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<input type="hidden" name="user" th:value="${user}"> <!-- 隠しフィールドとしてuserを設定しリクエストパラメータとして送信 -->
				<button class="btn btn-primary" type="submit">編集</button>
			</div>
		</form>
	</div>
	
	<!-- 本の詳細表示 -->
	<div class="container-fluid pt-3">	
		<table class="table table-bordered table-responsive">
			<thead>
				<tr class="text-center table-primary">
					<th width="700">概要</th>
					<th width="150">評価</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${book.overview}">概要</td>
					<!-- 評価をスター表示 -->
					<td class="text-center">
						<div class="row">
							<input class="show-rating rating-loading" name="rate" th:value="${book.totalevaluation}">
							<label class="col" th:text="'(' + ${book.totalevaluation} + ')'"></label>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="container-fluid pt-5">
		<h2 align="center">この本を読んだ人からのレビュー</h2>
		
		<!-- 登録完了コメント -->
		<th:block th:if="${complete}">
			<p th:text="${complete}" style="color:blue"></p>
		</th:block>
		<!-- RV登録ボタン -->
		<form class="row" method="GET" th:action="@{/book/{bookid}/newreview(bookid=${book.id})}"> <!-- {bookid}に(bookid=)を代入 -->
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<input type="hidden" name="user" th:value="${user}"> <!-- 隠しフィールドとしてuserを設定しリクエストパラメータとして送信 -->
				<button class="btn btn-primary" type="submit">RV登録</button>
			</div>
		</form>
	</div>
	
	<div class="container-fluid pt-3">
		<th:block th:unless="${#lists.isEmpty(reviewList)}">
			<table class="table table-bordered table-responsive">
				<thead>
					<tr class="text-center table-primary">
						<th width="700">レビュー</th>
						<th width="150">評価</th>
						<th:block th:if="${user} == 'admin'">
							<th class="table-secondary" width="150">操作</th>
						</th:block>
					</tr>
				</thead>
				<tbody>	
					<tr th:each="obj : ${reviewList}">
						<td th:text="${obj.content}">レビュー内容</td>
						<!-- 評価をスター表示 -->
						<td class="text-center">
							<input class="show-rating rating-loading" name="rate" th:value="${obj.evaluation}">
						</td>
						<!-- RV削除ボタン -->
						<td th:if="${user} == 'admin'" align="center">
							<form method="POST" th:action="@{/book/detail/{bookid}/delete/{reviewid}(bookid=${obj.bookid}, reviewid=${obj.id})}"> <!-- {id}に(id=)を代入 -->
								<input type="hidden" name="_method" value="DELETE"> <!-- DELETEメソッドを隠しフィールドで送る -->
								<input type="hidden" name="user" th:value="${user}"> <!-- 隠しフィールドとしてuserを設定しリクエストパラメータとして送信 -->
								<button type="submit" class="btn btn-secondary">RV削除</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</th:block>
	</div>
	<!-- レビューが取得できなければメッセージを表示 -->
	<p th:if="${#lists.isEmpty(reviewList)}">まだ登録されているレビューはありません</p>
	
    <!-- JSとjQueryの読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.js" type="text/javascript"></script>

    <!-- optionally if you need to use a theme, then include the theme file as mentioned below -->
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>
    
    <!-- optionally if you need translation for your language then include locale file as mentioned below (replace LANG.js with your locale specific file) -->
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/locales/LANG.js"></script>

    <script>
		$(document).ready(function(){
		    $('.show-rating').rating({displayOnly: true, showCaption: false, step: 0.5, size: "xs"});
		});
	</script>
</body>
</html>