<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment">
</head>

<body>
	<!-- navbar -->
	<nav th:replace="common/navbar :: nav_fragment">
	</nav>


	<div class="p-3 p-sm-5 mb-4 bg-img">

		
		<!-- 検索ウインドウ -->
		<div class="container-fluid p-5">
			<div class="row justify-content-center">
				<div class="col-md-5">
					<form method="GET" class="d-flex" th:action="@{/book/search}">
						<input class="form-control me-2 text-center" type="search" name="keyword" placeholder="Search Book..." aria-label="Search" th:value=${keyword}>
						<button class="btn btn-success" type="submit" th:name="user" th:value="${user}">Search</button>
					</form>
				</div>
			</div>
		</div>
				
		<!-- 書籍情報の新規登録 -->		
		<form method="GET" th:action="@{/book/newbook(user=${user})}"> <!-- {id}に(id=)を代入 -->
			<button type="submit" th:name="user" th:value="${user}" class="btn btn-primary">新しい本を登録する</button> <!-- リクエストパラメータとしてuserを送る -->
		</form>
		
	</div>

	
	<!-- ▽▽▽ 書籍情報が1件でもあれば表示 ▽▽▽ -->		
	<!-- BookReviewControllerにてModelに格納したlistをユーティリティーオブジェクトを使ってチェックしている -->
	<div class="container-fluid pt-5">
		<!-- 登録/更新完了コメント -->
		<!-- ${complete}はinsertメソッドからRedirectパラメーターとして渡される -->
		<div class="col">
			<p th:if="${complete}" th:text="${complete}" style="color:blue"></p>
		</div>
	
		<table class="table table-bordered table-striped table-hover table-responsive" th:unless="${#lists.isEmpty(bookList)}">
			<thead>
				<tr class="text-center table-primary">
					<th scope="col">書籍名</th>
					<th scope="col">評価</th>
					<th scope="rol" colspan="3">各種操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="obj : ${bookList}">
					<td th:text="${obj.title}" align="left"></td>
					<td th:text="${obj.totalevaluation}" align="center"></td>
					<!-- RV登録ボタン -->
					<td class="text-center">
						<form method="GET"
							th:action="@{/book/{id}/newreview(id=${obj.id})}">
							<!-- {id}に(id=)を代入 -->
							<button type="submit" th:name="user" th:value="${user}" class="btn btn-primary">RV登録</button>
						</form>
					</td>
					<!-- 詳細ボタン -->
					<td class="text-center">
						<form method="GET" th:action="@{/book/detail/{id}(id=${obj.id})}"> <!-- {id}に(id=)を代入 -->
							<button type="submit" th:name="user" th:value="${user}" class="btn btn-primary">詳細</button> <!-- リクエストパラメータとしてuserを送る -->
						</form>
					</td>
					<!-- 削除ボタン -->
					<td th:if="${user} == 'admin'" align="center">
						<form method="POST" th:action="@{/book/delete/{id}(id=${obj.id})}"> <!-- {id}に(id=)を代入 -->
							<input type="hidden" name="_method" value="DELETE"> <!-- DELETEメソッドを隠しフィールドで送る -->
							<input type="hidden" name="user" th:value="${user}"> <!-- 隠しフィールドとしてuserを渡す -->
							<button type="submit" class="btn btn-secondary">削除</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="container-fluid">
		<!-- 全件表示 -->
		<form class="row" method="GET" th:action="@{/book}" th:unless="${allBook} == true">
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<button class="btn btn-outline-secondary" type="submit" th:name="user" th:value="${user}">全ての本を表示</button>
			</div>
		</form>
		<!-- 上位5件表示 -->
		<form class="row" method="GET" th:action="@{/}" th:if="${allBook} == true">
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<button class="btn btn-outline-success" type="submit" th:name="user" th:value="${user}">人気の本を表示</button>
			</div>
		</form>
	</div>
	
	<!-- △△△ 書籍情報が1件でもあれば表示 △△△ -->
	
	<!-- ▽▽▽ 書籍情報が1件もない場合表示 ▽▽▽ -->
	<p th:if="${#lists.isEmpty(bookList)}">登録されている書籍はありません</p>
	<!-- △△△ 書籍情報が1件もない場合表示 △△△ -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>