<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- ヘッダ -->
<a href="#" th:href="@{/}">Book Review</a>

<!-- CSSスタイルシートの読み込み -->
<link th:href="@{/css/style.css}" rel="stylesheet">

<title>Book Review</title>
</head>
<body>
	<center><h1>良い本に出会いましょう！</h1></center>
	
	<!-- 登録/更新完了コメント -->
	<!-- ${complete}はinsertメソッドからRedirectパラメーターとして渡される -->
	<p th:if="${complete}" th:text="${complete}" style="color:blue"></p>
	
	<!-- 書籍情報の新規登録 -->
	<center><h3><a th:href="@{/book/newbook}">新しい本を登録する</a></h3></center>
	
	<!-- ▽▽▽ 書籍情報が1件でもあれば表示 ▽▽▽ -->		
	<!-- BookReviewControllerにてModelに格納したlistをユーティリティーオブジェクトを使ってチェックしている -->
	<table align="center" border="1" th:unless="${#lists.isEmpty(bookList)}" style="table-layout: fixed;">
		<tr>
			<th width="700">書籍名</th>
			<th width="150">評価</th>
<!-- 			<th>RV登録</th>
			<th>詳細</th> -->
		</tr>
		<tr th:each="obj : ${bookList}">
			<td th:text="${obj.title}" align="left"></td>
			<td th:text="${obj.totalevaluation}" align="center"></td>
			<!-- RV登録ボタン -->
			<td>
				<form method="GET" th:action="@{/book/{id}/newReview(id=${obj.id})}"> <!-- {id}に(id=)を代入 -->
					<input type="submit" value="RV登録">
				</form>
			</td>
			<!-- 詳細ボタン -->
			<td>
				<form method="GET" th:action="@{/book/detail/{id}(id=${obj.id})}"> <!-- {id}に(id=)を代入 -->
					<input type="submit" value="詳細">
				</form>
			</td>
			<!-- 削除ボタン -->
			<td>
				<form method="POST" th:action="@{/book/delete/{id}(id=${obj.id})}"> <!-- {id}に(id=)を代入 -->
					<input type="hidden" name="_method" value="DELETE"> <!-- DELETEメソッドを隠しフィールドで送る -->
					<input type="submit" value="削除">
				</form>
			</td>
		</tr>
	</table>
	<!-- △△△ 書籍情報が1件でもあれば表示 △△△ -->
	
	<!-- ▽▽▽ 書籍情報が1件もない場合表示 ▽▽▽ -->
	<p th:if="${#lists.isEmpty(bookList)}">登録されている書籍はありません</p>
	<!-- △△△ 書籍情報が1件もない場合表示 △△△ -->
</body>
</html>