<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment">
</head>

<body>
	<!-- navbar -->
	<nav th:replace="common/navbar :: nav_fragment">
	</nav>

	<div class="container-fluid pt-5">
		<h1 align="center">新しい本を登録しましょう！</h1>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:action="@{/book/insert}">
			<div class="col-md-6">
				<label for="title" class="form-label">本のタイトル</label><br>
				<input type="text" class="form-control" name="title" placeholder="本のタイトルを入力してください。">
			</div>
			<div class="col-md-6">
				<label for="overview" class="form-label">概要</label><br>
				<textarea class="form-control" rows="5" cols="50" name="overview" placeholder="本の概要を入力してください。"></textarea><br>
			</div>	
			<div>
				<!-- 隠しフィールドとしてuserを渡す -->
				<input type="hidden" name="user" th:value="${user}">
			</div>
			<button type="submit" class="btn btn-primary">登録</button>
		</form>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>