<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment">
</head>

<body>
	<!-- navbar -->
	<nav th:replace="common/navbar :: nav_fragment">
	</nav>
	<div class="container-fluid pt-5">
		<h1 align="center">本のレビューを登録しましょう！</h1>
		<h2 th:text="${book.title}">本のタイトル</h2>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:action="@{/review/insert}">
			<div class="col-md-1">
				<label class="form-label" for="evaluation">評価</label><br>
				<input class="form-control" type="number" name="evaluation" min="1" max="5" value="3">
			</div>
			<div class="col-md-6">
				<label  class="form-label" for="content">レビュー</label><br>
				<textarea class="form-control"  rows="5" cols="50" name="content" placeholder="本の概要を入力してください。"></textarea><br>
			</div>
			<div>
				<!-- 隠しフィールドとしてbookidを渡す -->
				<input type="hidden" name="bookid" th:value="${bookid}">
			</div>
			<div>
				<!-- 隠しフィールドとしてuserを渡す -->
				<input type="hidden" name="user" th:value="${user}">
			</div>
			<button type="submit" class="btn btn-primary">登録</button>
		</form>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>